
.page {
    padding: 0;
    margin: auto;

    font-family: 'Inter', 'Helvetica Neue', 'Arial', sans-serif;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;

    --color-content1: #fff;
    --color-content2: #000;
    --color-content3: #545454;


    background-color: var(--color-content2);
    max-width: 882px;

}
